body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  background: #fff;
  overflow: hidden;
}

h1 {
  margin-top: 20px;
}


.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between; /* Change here */
  width: 100%;
  height: 100%;
  line-height: 100px;
  background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
  z-index: 100;
  padding: 100px 0;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  margin: 0 25px 0 40px;
  padding-bottom: 15px;
}

nav button {
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: .3s ease;
}

.link:hover,
.active {
  border-bottom: 2px solid #000;
}

nav button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
}

.fc-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  padding: 10px;
  height: 60px;
}

.fc-left,
.fc-center,
.fc-right {
  display: flex;
  align-items: center;
}

.fc-toolbar button {
  font-size: 12px;
  padding: 5px;
  margin: 0 5px; /* Adjust the margin as needed */
}

.fc-prev,
.fc-next {
  font-size: 14px; /* Adjust font size as needed */
  margin-top: 0 !important; /* Adjust margin-top to bring down the arrow buttons */
}

.fc-center {
  justify-content: center;
  flex-grow: 2;
}

.fc-day-grid-event {
  height: 20px; 
  font-size: 12px;
  line-height: 1.2;
  overflow: hidden;
  background: #3498db;
  color: #fff;
}

#calendar {
  height: 300px;
}

#addLessonPopup,
#lessonInfoPopup{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.main {
  position: relative;
  padding: 20px;
  width: 85%;
  height: calc(100vh - 400px); 
  overflow-y: auto;
}

.main-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.main-top i {
  position: absolute;
  right: 0;
  margin: 10px 30px;
  color: rgb(110, 109, 109);
  cursor: pointer;
}

.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.users .card {
  width: 48%;
  margin: 10px;
  background: #fff;
  text-align: center;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
  flex-basis: 48%;
}

.users .card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.users .card h4 {
  text-transform: uppercase;
}

.users .card p {
  font-size: 12px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.users table {
  margin: auto;
}

.users .per span {
  padding: 5px;
  border-radius: 15px;
  background: rgb(223, 223, 223);
}

.users td {
  font-size: 14px;
  padding-right: 15px;
}

.users .card button {
  width: 100%;
  margin-top: 8px;
  padding: 7px;
  cursor: pointer;
  border-radius: 15px;
  background: transparent;
  border: 1px solid #4AD489;
}

.users .card button:hover {
  background: #4AD489;
  color: #fff;
  transition: 0.5s;
}

.users .card button a {
  color: #000;
}

form {
  margin-top: 20px;
}

input, button {
  margin-top: 10px; 
  padding: 10px; 
  border-radius: 5px; 
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

button {
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer; 
  transition: 0.3s ease; 
}

button:hover {
  background: rgba(255, 255, 255, 0.5);
}



@media only screen and (max-width: 786px) {
  nav button {
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  h1 {
    font-size: 30px;
  }

  nav {
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  nav a, nav button {
    margin: 5px 0;
  }
}
