body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 20px; /* Add padding to provide space from the border */
  box-sizing: border-box;
  background: #fff; /* Set background to white */
  overflow: hidden;
}

.nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
  z-index: 100;
}

h1 {
  margin-top: 20px; /* Adjust as needed */
}

nav a {
  text-decoration: none;
  color: #000; /* Set navigation text color to black */
  font-weight: 500;
  font-size: 14px; /* Reduced font size */
  margin: 0 15px; /* Reduced margin */
  padding-bottom: 15px;
}

nav button {
  width: 100px; /* Reduced width */
  height: 30px; /* Reduced height */
  font-weight: 500;
  background: rgba(0, 0, 0, 0.1); /* Set a light background */
  border: none;
  border-radius: 15px; /* Adjusted border-radius */
  cursor: pointer;
  transition: .3s ease;
}

nav button:hover {
  background: rgba(0, 0, 0, 0.2); /* Darken background on hover */
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 1000;
}

/* Add modern styling with curves to the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  border-radius: 15px;
}

th {
  background-color: #f2f2f2;
}

/* Form Styles */
form {
  margin-top: 20px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 1000;
}

/* Input Styles */
input, button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
}

button {
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: rgba(255, 255, 255, 0.5);
}

/* Responsive Styles */
@media only screen and (max-width: 786px) {
  nav button {
    display: none;
  }
}

@media only screen and (max-width: 540px) {
  h1 {
    font-size: 30px;
  }

  nav {
    height: auto;
    flex-direction: column;
  }

  nav a, nav button {
    margin: 5px 0;
  }
}
